<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
    <property name="driverClass" value="org.h2.Driver"/>
    <property name="url" value="jdbc:h2:tcp://localhost/~/toby"/>
    <property name="username" value="sa"/>
    <property name="password" value=""/>
  </bean>

  <bean id="userDao" class="com.binghe.ch02.user.dao.spring_ioc.UserDao">
    <constructor-arg ref="dataSource"/>
  </bean>
</beans>