<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="simpleConnectionMaker" class="springbook.user.dao.BaeminSimpleConnectionMaker"/>
    <bean id="userDao" class="springbook.user.dao.UserDao">
        <property name="simpleConnectionMaker" ref="simpleConnectionMaker"/>
    </bean>
    <bean id="connectionMaker" class="springbook.user.dao.CountingConnectionMaker">
        <constructor-arg ref="simpleConnectionMaker"/>
    </bean>
</beans>